<div class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<form data-toggle="validator" ng-submit="submit()" role="form">
				<div class="modal-header">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
							aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">User detail</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Email</label>
						<input type="email" class="form-control" ng-model="userForm.email" placeholder="Email"
							   data-error="Bruh, that email address is invalid" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<label class="control-label">Name</label>
						<div class="form-inline row">
							<div class="form-group col-sm-6">
								<input type="text" ng-model="userForm.firstname" class="form-control"
									   placeholder="Firstname" pattern="^[A-Za-z]{2,}" required title="2 characters minimum">
								<!--<div class="help-block">Minimum of 2 characters</div>-->
							</div>
							<div class="form-group col-sm-6">
								<input type="text" data-minlength="2" ng-model="userForm.lastname"
									   class="form-control"
									   placeholder="Lastname" pattern="^[A-Za-z]{2,}" required title="2 characters minimum">
								<!--<div class="help-block">Minimum of 2 characters</div>-->
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel
					</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>