<!--<script src="app/contcontacts.jst.js"></script>-->
<div>
	<style>
		.pagination {
			position: absolute;
		}

		/*input[type=text] { width: 12px; }*/
		/*input[type=text]:focus { width: 12px; }*/
	</style>
	<!--<modal-trigger></modal-trigger>-->
	<div ng-controller="Controller">
		<button class='btn btn-primary pull-right' ng-click="show_update_hash()">New user</button>
	</div>

	<table class="table table-striped table-hover ">
		<thead>
		<tr>
			<th>#</th>
			<th>Image</th>
			<th>Name</th>
			<th>Email</th>
			<th>Type</th>
			<th>Created at</th>
			<th>Last login</th>
		</tr>
		</thead>
		<tbody>

		<tr ng-repeat="c in contacts">
			<th scope="row"><a href="#">{{c.id}}</a></th>
			<td>
				<vcard type='profile' src='c'></vcard>
			</td>
			<td>{{c.firstname +' '+c.lastname}}</td>
			<td>{{c.email}}</td>
			<td>{{c.group}}</td>
			<td>{{c.created_at}}</td>
			<td>{{c.login_at}}</td>
		</tr>
		</tbody>
	</table>
	<paging list="contacts" url="/user/user_list"></paging>
</div>