<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi <%= @username %></h1>
<div>
  You password was change to <%= @password[0...4]%>**** (only showing first four characters).
</div>
</body>
</html>