<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @username %></h1>
<a>
  Please click <a href="<%= @link %>"><%= @link %></a> to reset your password.
</p>
</body>
</html>