<div class="container" style="height: 650px;">
	<link rel='stylesheet' href='assets/asset/fullcalendar/fullcalendar.css'/>
	<style>
		.fc-today {
			background: #b2ebf2 !important;
		}

		.custom-menu {
			display: none;
			z-index: 1000;
			position: absolute;
			overflow: hidden;
			border: 1px solid #CCC;
			white-space: nowrap;
			font-family: sans-serif;
			background: #FFF;
			color: #333;
			border-radius: 5px;
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		.custom-menu li {
			padding: 8px 12px;
			cursor: pointer;
		}

		.custom-menu li:hover {
			background-color: #DEF;
		}
		.fc-time-grid-event {
			overflow:visible;
		}
		.fc-content {
			overflow:visible;
		}
	</style>
	<ul class='custom-menu'>
		<!--<li ng-click="monthly_view()">First thing</li>-->
		<li ng-click="weekly_view()">Weekly view</li>
		<li ng-click="daily_view()">Daily view</li>
	</ul>
	<div id="fullcalendar_div_a"></div>
</div>