<div class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" data-toggle="validator" ng-submit="submit()" role="form">
				<div class="modal-header">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
							aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">New event</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Title</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="event.title"
								   placeholder="Add a title for this event"
								   data-error="Titile cannot be empty" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Location</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="event.title"
								   placeholder="Add a location for this event"
								   data-error="Titile cannot be empty" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Start</label>
						<div class="col-sm-5">
						<input type="text" class="form-control" ng-model="event.start" placeholder="Start time"
							   pattern="(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2})"
							   data-error="Wrong time format" required>
						</div>
						<div class="col-sm-5 ">
							<select style="max-width: 155px;" class="form-control" ng-change="" ng-model="event.start_time">
								<option ng-repeat="x in datetimes" ng-value="'{{x}}'">{{x}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">End</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="event.end" placeholder="Start time"
								   pattern="(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2})"
								   data-error="Wrong time format" required>
						</div>
						<div class="col-sm-5 ">
							<select style="max-width: 155px;" class="form-control" ng-change="" ng-model="event.end_time">
								<option ng-repeat="x in datetimes" ng-value="'{{x}}'">{{x}}</option>
							</select>
							<!--<input type="text" class="form-control" ng-model="event.end_time" placeholder="Start time"-->
								   <!--pattern="(\d{2}):(\d{2})"-->
								   <!--data-error="Wrong time format" required>-->
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">With</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="event.for_user_id"
								   placeholder="Appointment with other contact">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Comment</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="event.comment"
								   placeholder="Type in event comment here">
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel
					</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>