<div class="container">
	<style>
		.select2-container--bootstrap .select2-selection--single {
			height: 45px !important;
		}
		  .container {
			  top: 50%;
			  position: relative;
			  transform: translateY(5%);
		  }
	</style>
	<div class="row">
		<div class="col-md-10 col-xs-10 col-xs-offset-1">
			<div class="panel  panel-login" style="overflow: auto;">

				<div class="panel-heading">
					<div class="panel-heading" style="">
						<div class="row">
							<div class="col-xs-6">
								<a href="#!/login">Sign in</a>
							</div>
							<div class="col-xs-6">
								<a href="#" class="active">Sign up</a>
							</div>
						</div>
						<hr>
					</div>
				</div>
				<div class="panel-body">

					<form class="form-horizontal" ng-submit="submit()">
						<div class="alert alert-danger alert-dismissible" ng-if='alert_msg_show' role="alert">
							<button type="button" class="close" ng-click="hideAlert()" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>

							<div ng-bind="alert_msg"></div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">Name:</label>
							<div class="col-sm-5">
								<input autocomplete="off" type="text" class="form-control" maxlength="255" value=""
									   ng-model="contact.firstname" placeholder="Firstname" required>
							</div>
							<div class="col-sm-5">
								<input autocomplete="off" type="text" class="form-control" maxlength="255" value=""
									   placeholder="Lastname" ng-model="contact.lastname" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">Email:</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" maxlength="255"
									   placeholder="name@email.com" data-error="Bruh, that email address is invalid"
									   ng-model="contact.email" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">Password:</label>
							<div class="col-sm-5">
								<input autocomplete="off" type="password" class="form-control" maxlength="255" value=""
									   ng-model="contact.password" placeholder="Password" required>
							</div>
							<div class="col-sm-5">
								<input autocomplete="off" type="password" class="form-control" maxlength="255" value=""
									   placeholder="Confirm your password" ng-model="contact.password1" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">Phone:</label>
							<div class="col-sm-2">
								<input autocomplete="off" type="text" class="form-control" maxlength="20" value=""
									   placeholder="Area" ng-model="contact.phone.area" pattern="^[0-9]{3}"
									   title="3 digits" required>
							</div>
							<div class="col-sm-3">
								<input autocomplete="off" type="text" class="form-control" maxlength="50"
									   placeholder="Number" ng-model="contact.phone.number" pattern="^[0-9]{7}"
									   title="7 digits"
									   required>
							</div>
							<div class="col-sm-2">
								<input autocomplete="off" type="text" class="form-control" maxlength="10" value="102"
									   placeholder="Ext" ng-model="contact.phone.ext">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">Address:</label>
							<div class="col-sm-5">
								<input autocomplete="off" class="form-control" type="text" maxlength="255"
									   placeholder="Street" ng-model="contact.address.street" required>
							</div>
							<div class="col-sm-5">
								<input autocomplete="off" class="form-control" type="text" maxlength="255"
									   placeholder="Apt/Suite,etc" ng-model="contact.address.apt" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-2"> </label>
							<div class="col-xs-3">
								<input autocomplete="off" class="form-control" type="text" maxlength="255"
									   placeholder="City/Town" ng-model="contact.address.city" required>
							</div>
							<div class="col-xs-3">
								<input type="text" id="state_select" ng-model="contact.address.state" required>
							</div>
							<div class="col-xs-4">
								<input autocomplete="off" class="form-control" type="text" maxlength="50"
									   placeholder="Postal / Zip Code" ng-model="contact.address.zipcode" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button type="submit" class="btn btn-primary btn-register btn-block">Submit</button>
							</div>
						</div>
					</form>

				</div>
			</div>

		</div>
	</div>
</div>