<!--<script src="app/contcontacts.jst.js"></script>-->
<div>
	<div ng-if="templatePath == ''">
		<style>
			.pagination {
				position: absolute;
			}
		</style>
		<!--<modal-trigger></modal-trigger>-->
		<div>
			<button ng-click="newresource()" class='btn btn-primary pull-right'>New resource</button>
		</div>
		
		<table class="table table-striped table-hover ">
			<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>
					Length
					<!--<sorting colname="'Name'" sortbyname="'sortbyfirstname'"></sorting>-->
				</th>
				<th>Type</th>
				<th>
					Owned by
					<!--<sorting colname="'Created at'" sortbyname="'sortbycreated_at'">-->
				</th>
				<th>Created at</th>
				<!--<th>deleted</th>-->
				<th>preview</th>
			</tr>
			</thead>
			<tbody>
			
			<tr ng-repeat="r in resources">
				<th><a href="#">{{r.id}}</a></th>
				<td>{{r.name}}
				</td>
				<td>{{r.length}}</td>
				<td>{{r.type}}</td>
				<td>
					<!--<vcard type='profile' src='r.vcard'></vcard>-->
					<vcardtrigger type='profile' src='r.vcard'></vcardtrigger>
				</td>
				<td>{{from_now(r.created_at)}}</td>
				<!--<td>{{r.is_deleted == 1 ? 'Yes' : 'No'}}</td>-->
				<td align="center"><previewtrigger sid="{{r.id}}" sname="{{r.name}}"></previewtrigger></td>
			</tr>
			</tbody>
		</table>
		<paging list="resources" listname="resources" url="/resource/resource_list"></paging>
	</div>
	<div ng-if="templatePath != ''" class="container">
		<div>
			<ng-include src="templatePath"></ng-include>
		</div>
	</div>
</div>