<div class="panel-body">
	<style>
		.select2-container--bootstrap .select2-selection--single {
			height: 34px !important;
		}
	</style>
	
	<form class="form-horizontal" ng-submit="submit()">
		<div class="alert alert-danger alert-dismissible" ng-if='alert_msg_show' role="alert">
			<button type="button" class="close" ng-click="hideAlert()" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
			
			<div ng-bind="alert_msg"></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Name:</label>
			<div class="col-md-5">
				<input autocomplete="off" type="text" class="form-control" maxlength="25" value=""
					   ng-model="contact.firstname" placeholder="Firstname" required>
			</div>
			<div class="col-md-5">
				<input autocomplete="off" type="text" class="form-control" maxlength="25" value=""
					   placeholder="Lastname" ng-model="contact.lastname" required>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-md-2">Email:</label>
			<div class="col-md-10">
				<input type="email" class="form-control" maxlength="255"
					   placeholder="name@email.com" data-error="Bruh, that email address is invalid"
					   ng-model="contact.email" required>
			</div>
		</div>
		
		<div ng-if='password_show' class="form-group">
			<label class="control-label col-md-2">Password:</label>
			<div class="col-md-5">
				<input autocomplete="off" type="password" class="form-control" maxlength="25" value=""
					   ng-model="contact.password" placeholder="Password" required>
			</div>
			<div class="col-md-5">
				<input autocomplete="off" type="password" class="form-control" maxlength="25" value=""
					   placeholder="Confirm your password" ng-model="contact.password1" required>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-md-2">Phone:</label>
			<div class="col-md-3">
				<input autocomplete="off" type="text" class="form-control" maxlength="3" value=""
					   placeholder="Area" ng-model="contact.phone.area" pattern="^[0-9]{3}"
					   title="3 digits" >
			</div>
			<div class="col-md-4">
				<input autocomplete="off" type="text" class="form-control" maxlength="7"
					   placeholder="Number" ng-model="contact.phone.number" pattern="^[0-9]{7}"
					   title="7 digits"
					   >
			</div>
			<div class="col-md-3">
				<input autocomplete="off" type="text" class="form-control" maxlength="5" value="102"
					   placeholder="Ext" ng-model="contact.phone.ext">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-md-2">Address:</label>
			<div class="col-md-10">
				<input autocomplete="off" class="form-control" type="text" maxlength="255"
					   placeholder="Street" ng-model="contact.address.street" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input autocomplete="off" class="form-control" type="text" maxlength="255"
					   placeholder="Apt/Suite,etc" ng-model="contact.address.apt" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-5">
				<input autocomplete="off" class="form-control" type="text" maxlength="255"
					   placeholder="City/Town" ng-model="contact.address.city" >
			</div>
			<div class="col-md-5">
				<input autocomplete="off" class="form-control" type="text" maxlength="50"
					   placeholder="Postal / Zip Code" ng-model="contact.address.zipcode" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<input type="text" id="state_select" class="form-control" ng-model="contact.address.state" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-3 col-md-5">
				<button type="submit" class="btn btn-primary btn-register btn-block">Submit</button>
			</div>
		</div>
	</form>

</div>