<div ng-if="vcard_show" ng-mouseover="enter_vcard()" ng-mouseleave="leave_vcard()" class="vcard"
	 ng-style="{'top':top, 'left':left}">
	<div style="width:380px;">
		<div style=" float:left;width:80px">
			<img ng-style="{'width':'80px', 'height':'80px'}"
				 class="img-rounded" ng-src='{{src.img_loc ? src.img_loc : $root.profile_placeholder}}'/>
		</div>
		<div style="float:right;width:290px;">
			<div>
				<a href='/#!/contacts?newcontact={{src.id}}' ng-click="hide_card()"><b>{{src.firstname +' '+src.lastname}}</b></a>
			</div>
			<div style=" margin-top: 20px;">
				<span class="label label-default">Default Label</span>
				<span class="label label-primary">Primary Label</span>
				<span class="label label-success">Success Label</span>
				<span class="label label-info">Info Label</span>
				<span class="label label-warning">Warning Label</span>
				<span class="label label-danger">Danger Label</span>
			</div>
		</div>
		<div style="clear:both"></div>
		<div style="margin-top: 10px;"><span>Crated at {{src.created_at}}</span></div>
		<div style="margin-top: 10px;"><span>Last login at {{src.login_at}}</span></div>
	
	</div>
	<div ng-if="vcard_spin_show" style="position: relative;left: 45%; top: 40%;">
		<i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i>
	</div>
</div>